[Unit]
Description=Preprocess Bip configuration
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=no
# Packagers must define:
# - ExecStart=/path/to/bip_env.sh
# - Environment='BIP_DEFAULT_CONFIG=/path/to/default/bip'
# using a unit file drop-in bip-config.service.d/<distrib>.conf
